<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yi.springboot.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="yi.springboot.pojo.Role">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="naem" column="naem" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,naem,description
    </sql>
</mapper>
