<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yi.springboot.mapper.UserMapper">

    <select id="testPage" resultType="yi.springboot.pojo.User">
        select id,username,password,nickname,email,phone,address from t_user where id > #{id}
    </select>
    <select id="selectByPageAndCondition" resultType="yi.springboot.pojo.User">
    </select>
</mapper>